.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* navbar */

  .outer-grid {
    margin-left: 15%;
    margin-top: 70px;
    justify-content: center;
    background-image: url("../assests/images/homeBg.jpg");
    background-size: cover;
    background-position: center;
  }
  
  @media (max-width: 900px) {
    .outer-grid {
      margin-left: 0rem;
    }
  }


.most-outer-box{
  
}