.homepage {
    background-image: url("../assests/images/homeBg.jpg");
    background-size: cover;
    background-position: center;
    color: black;
    
  }
  .button{
    width:250px;
    height: 250px;
    color: black;
    background-color: pink;
  }