/* styles/Navbar.module.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.navbar {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px 20px;
  padding-top: -20px;
  box-sizing: border-box;
}

.navbar a {
  color: #757474;
  text-decoration: none;
  font-family: "Lato", sans-serif;
 
  font-style: normal;
  text-align: center;
  font-weight:normal;
  font-size: 18px;
  margin-left: 20px;
  padding:10px;
  
}

.navbar a:hover {
  color: white; /* Optional: Change color on hover */
  background-color: #575757;
  border: px solid #575757;
  border-radius: 5px;
}
