/* ReviewPage.module.css */

.ReviewPage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Ideas {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
  min-height: 280px; /* Ensure all cards have a minimum height */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ComponentPreview {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* height: 280px; */
}

.cardContent {
  display: flex;
  flex-direction: column;
 /* height: 100%;*/
}

.mainTitle {
  font-size: 38px; /* Increase the font size */
  font-weight: bold; /* Make the font extra bold */
  color: #333;
  margin-bottom: 20px; /* Increase the margin */
  height: 40%;
}

.subtitle {
  font-size: 15px; /* Increase the font size */
  font-weight: 600; /* Add more weight to the subtitle */
  color: #666;
  margin-top: 2vh;
  margin-bottom: 10px;
  /* height: 360px */
  padding-top: 80px;
}

.loading,
.error {
  font-size: 18px;
  color: #666;
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .Ideas {
    flex: 1 1 calc(50% - 20px);
  }

  .mainTitle {
    font-size: 32px; /* Adjust font size for smaller screens */
  }

  .subtitle {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .Ideas {
    flex: 1 1 calc(50% - 20px);
  }

  .mainTitle {
    font-size: 28px; /* Adjust font size for smaller screens */
  }

  .subtitle {
    font-size: 13px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .Ideas {
    flex: 1 1 calc(100% - 20px);
  }

  .mainTitle {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .subtitle {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}
