@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.ReviewPage {
  padding-left: 40px;
  font-family: 'Roboto', sans-serif;
}

.list{
  display: flex;
  flex-direction: column;

}
/*.list {
  list-style-type: none;
  padding: 0;
  /* display: flex;
  flex-direction: row; 
  align-items: center;
  /* width: 100%; 
}*/

.Ideas {
  width: 100%;
  margin-bottom: 20px;
  height: 150px;
  
}

.ComponentPreview{
  display: flex;
  flex-direction: row;
  gap:10px;
  height: 120px;
  width:700px;
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  justify-content: space-around; */
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #fffefe;
  border-radius: 8px;
  /* overflow: hidden;
  width: 100%;
  height: 150px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}


.leftSection .mainTitle {
  font-size: 20px;
  font-weight: 700;
}

.leftSection .smallText {
  font-size: 14px;
  font-weight: 400;
} 

.leftSection {
  
  background-color: #2d2d6d;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%; 
  border: 1px solid #2d2d6d;
  border-radius:13px 0 0 13px;
  /* width : 144px, */
} 

.rightSection {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 60%; /* Adjust the width as needed */
  height: 100%;
  border: 1px solid #ffffff;
  border-radius:13px 13px 13px 0;
}


.leftSection .mainTitle {
  font-size: 20px;
  font-weight: 700;
}

.leftSection .smallText {
  font-size: 14px;
  font-weight: 400;
}
/* 
.rightSection {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 60%;
  height: 100%;
} */

.rightSection .subtitle {
  font-size: 24px;
  font-weight: 700;
}

.rightSection .smallText {
  font-size: 14px;
  font-weight: 400;
}

.cardContent {
  text-align: center;
}

.continueButton {
  background-color: #2d2d6d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.continueButton:hover {
  background-color: #1a1a4f;
}
/* 
.cardContent {
  text-align: center;
}

.continueButton {
  background-color: #2d2d6d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
} */
/* 
.continueButton:hover {
  background-color: #1a1a4f;
} */

@media (max-width: 1200px) {
  .card {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 992px) {
  .card {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
    height: 150px;
  }
}